/* Estilos del Proyecto*/
/* font-family: 'Maven Pro', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Roboto', sans-serif; */

button{
    background-color: #BE319A;
    border:none;
    border-color: #BE319A;
    color: white;
    cursor: pointer;
    padding: 4px 10px;
    text-decoration: none;    
}
.title{
    font-family: 'Maven Pro', sans-serif; 
    font-size: 24px;
}
.text-styles{
    font-family: 'Roboto Condensed', sans-serif;
}
.marker-icon i{
    font-size:18px;
}
.marker-icon i:hover{
   color: #BE319A;
}
