/* Estilos del Proyecto*/

.height {
    height: 60vh;
}
.height2{
    margin-top: 0;
}
.w-1 {
    width: 100%;
}

.purple{
    background-color: #BE319A;
    border:none;
    border-color: #BE319A;
    color: white;
    cursor: pointer;
    padding: 4px 10px;
    text-decoration: none;    
}

.title{
    font-family: 'Maven Pro', sans-serif; 
    font-size: 24px;
}

.text-styles{
    font-family: 'Roboto Condensed', sans-serif;
}

.marker-icon i{
    font-size:18px;
}

.marker-icon i:hover{
   color: #BE319A;
}

.box-intro {
    border:1px solid rgba(190, 187, 187, 0.938);
}
.change-position{
    position: relative;
}
.options-car div{
    border:1px solid grey;
    margin:2px 0; 
}

@media only screen and (min-width: 920px) {
   .change-position{
       position:absolute;
   }
   .height {
    height: 90vh;
    }
    .height2{
     margin-top: 4%;
    }
}